---
import Layout from "../layouts/Layout.astro";
import SiteNav from "../components/SiteNav.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import ProjectModal from "../components/ProjectModal.astro";
import AboutView from "../components/AboutView.astro";
---

<Layout>
  <SiteNav />
  <main>
    <section data-view-panel="projects">
      <ProjectGrid />
      <ProjectModal />
    </section>
    <section data-view-panel="about" hidden>
      <AboutView />
    </section>
  </main>
</Layout>

<script>
  import { initSite } from "../scripts/site";

  initSite();
</script>
