---
import "../styles/global.css";

const umamiId = import.meta.env.PUBLIC_UMAMI_WEBSITE_ID;

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Max Nobell-Cluff — Portfolio",
  description = "Interaction design portfolio of Max Nobell-Cluff.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    {
      umamiId && (
        <script
          is:inline
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id={umamiId}
        />
      )
    }
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
